# Data Wrangling

# Simulate data for stroop experiment

## We need to simulate:
- participant ID's
- reaction times
- responses
    - calculate whether or not the responses are correct

## Simulates binary responses.  
- Numpy stands for "number Python" and deals well with the complex math we use in science
- We are taking random choice from the list `["incorrect", "correct"]`
- There is a sample size of 50, meaning we take a random choice 50 times
- We give it a probability `p` which is specified using Python's fraction notation.  Note that the correct and incorrect probabilities are out of 1, but could have been specified differently
- We'll have more corrects than incorrects in the congruent condition, so we swap the fractions in congrent and incongruent in order to simulate that
    - I'm just picking numbers here, there's nothing concrete about these fractions
    - I picked 1/4 and 3/4 because they are easy

In [2]:
import numpy as np
congruent_responses = np.random.choice(["incorrect", "correct"], size=(50,), p=[1./4, 3./4])
incongruent_responses = np.random.choice(["incorrect", "correct"], size=(50,), p=[3./4, 1./4])

#### Check our data

In [3]:
print("congruent", congruent_responses)
print("incongruent", incongruent_responses)

congruent ['incorrect' 'correct' 'correct' 'incorrect' 'incorrect' 'incorrect'
 'correct' 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'correct'
 'correct' 'correct' 'correct' 'incorrect' 'correct' 'correct' 'correct'
 'correct' 'correct' 'correct' 'correct' 'incorrect' 'incorrect' 'correct'
 'incorrect' 'correct' 'correct' 'incorrect' 'correct' 'correct' 'correct'
 'correct' 'incorrect' 'correct' 'correct' 'correct' 'correct' 'correct'
 'correct' 'incorrect' 'correct' 'incorrect' 'correct' 'correct' 'correct'
 'correct' 'incorrect' 'incorrect']
incongruent ['incorrect' 'incorrect' 'incorrect' 'correct' 'incorrect' 'incorrect'
 'incorrect' 'incorrect' 'correct' 'incorrect' 'incorrect' 'incorrect'
 'incorrect' 'correct' 'incorrect' 'incorrect' 'incorrect' 'incorrect'
 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'incorrect'
 'incorrect' 'incorrect' 'correct' 'incorrect' 'correct' 'incorrect'
 'incorrect' 'incorrect' 'correct' 'incorrect' 'incorrect' 'incorrect'
 'correct' 'incorrect' 'correct' 'correct' 'incorrect' 'incorrect'
 'incorrect' 'incorrect' 'incorrect' 'incorrect' 'correct' 'incorrect'
 'incorrect' 'incorrect']

## Simulate reaction time data

The `random.triangular` function generates normally distributed random numbers in a range betwen `a` and `b` with a mode of `x`.

In [4]:
import random

a = 0.5 # lowest possible reaction time
b = 6 # highest possible reaction time
reaction_time_incongruent = []
reaction_time_congruent = []
for i in range(50):
    x = 4 # mode of reaction time
    reaction_time_incongruent.append(random.triangular(a, b, 3*x - a - b))
    x = 3 # mode of reaction time
    reaction_time_congruent.append(random.triangular(a, b, 3*x - a - b))

## Put all the data together into a nice looking list
We can make a list of tuples by using the `zip()` function, and feeding that output into a list.  The `zip()` function goes through the specified lists and makes tuples out of corresponding values for each item on the list

In [5]:
data_tuples = list(zip(congruent_responses, incongruent_responses, reaction_time_incongruent, reaction_time_congruent))
data_tuples

[('incorrect', 'incorrect', 1.8662872363442375, 2.7434607160382334),
 ('correct', 'incorrect', 4.937513294652324, 4.393710227170056),
 ('correct', 'incorrect', 2.726114425018164, 2.478732002592217),
 ('incorrect', 'correct', 5.822324037411727, 3.2498999865920415),
 ('incorrect', 'incorrect', 3.456126831537752, 1.4383971977628995),
 ('incorrect', 'incorrect', 0.9833217085487104, 2.221493843943046),
 ('correct', 'incorrect', 3.586901012463611, 2.848707916680223),
 ('incorrect', 'incorrect', 2.023182032587675, 3.1118160732974216),
 ('incorrect', 'correct', 5.11754940918394, 1.7012309069137597),
 ('incorrect', 'incorrect', 2.6016213909586487, 3.927305148308429),
 ('incorrect', 'incorrect', 5.744051567059915, 2.1889469997444797),
 ('correct', 'incorrect', 1.1579671591566805, 2.568124067714722),
 ('correct', 'incorrect', 4.082233250513543, 3.304023478265753),
 ('correct', 'correct', 4.543800134368167, 3.2060029305861732),
 ('correct', 'incorrect', 4.869982702142824, 4.91210950587012),
 ('incorrect', 'incorrect', 2.870747418571452, 2.909889990607925),
 ('correct', 'incorrect', 4.222173348393142, 2.7945088087384327),
 ('correct', 'incorrect', 4.742181672909123, 4.606959909238141),
 ('correct', 'incorrect', 4.289558466907518, 4.02731050284225),
 ('correct', 'incorrect', 4.685084183631177, 3.9639981748540563),
 ('correct', 'incorrect', 5.231506634392393, 3.5185492855278877),
 ('correct', 'incorrect', 4.422678951902819, 1.8066552705463401),
 ('correct', 'incorrect', 5.00194390824178, 4.2720723459357846),
 ('incorrect', 'incorrect', 3.3799110418031195, 1.9713407253283053),
 ('incorrect', 'incorrect', 4.233762191519318, 2.985002429527523),
 ('correct', 'incorrect', 5.416783422205677, 1.765021403582717),
 ('incorrect', 'correct', 5.75835512799116, 5.417641645241872),
 ('correct', 'incorrect', 3.3300043932928043, 3.947303185056584),
 ('correct', 'correct', 2.5128795505038406, 2.6481553916376477),
 ('incorrect', 'incorrect', 5.717392020045784, 3.5292193064429074),
 ('correct', 'incorrect', 5.663256276055189, 4.750531690766296),
 ('correct', 'incorrect', 3.792190593253293, 4.684272683933591),
 ('correct', 'correct', 5.4191292597117044, 2.1135481943385948),
 ('correct', 'incorrect', 5.008910156681448, 2.727330047268725),
 ('incorrect', 'incorrect', 4.069094556539868, 3.2903118516313556),
 ('correct', 'incorrect', 3.3526764533787854, 2.858146538573583),
 ('correct', 'correct', 5.481397368855071, 2.1538234820553512),
 ('correct', 'incorrect', 1.6081180188208832, 3.9425331262512513),
 ('correct', 'correct', 5.492360803846742, 3.0020611227163374),
 ('correct', 'correct', 1.6017837962512123, 3.6678930823994786),
 ('correct', 'incorrect', 4.921673566248443, 4.526225020199351),
 ('incorrect', 'incorrect', 3.319002808488273, 3.3355531783520114),
 ('correct', 'incorrect', 5.272985657471469, 3.759445744430149),
 ('incorrect', 'incorrect', 2.500585498430879, 3.1334854653304545),
 ('correct', 'incorrect', 4.462223346037107, 3.118933717182574),
 ('correct', 'incorrect', 5.5133602409876925, 0.9943828740724006),
 ('correct', 'correct', 2.572992189555968, 2.644987129584929),
 ('correct', 'incorrect', 3.9239998931639533, 1.2314179477294966),
 ('incorrect', 'incorrect', 5.512098562148924, 2.5266319169658487),
 ('incorrect', 'incorrect', 4.998508161399467, 3.1041699577837973)]

# Pandas DataFrame
A Pandas DataFrame is a Python Object that holds a set of data like a spreadsheet.

In [6]:
import pandas as pd  # it is custom to shorten pandas to pd because we'll be typing it a log
df = pd.DataFrame(data_tuples)  # called the dataframe df, but you can use any name you want... it's a Python object.

## Viewing the data

You can view the whole DataFrame by typing `df` as usual.  But, perhaps your dataset is large and you just want to get a sense of how it's looking.  For that we can use the `head()` method call on our dataframe.  By default it shows the first 5 rows, or you can specify the number of rows you want to see.

In [7]:
df.head()

           0          1         2         3
0  incorrect  incorrect  1.866287  2.743461
1    correct  incorrect  4.937513  4.393710
2    correct  incorrect  2.726114  2.478732
3  incorrect    correct  5.822324  3.249900
4  incorrect  incorrect  3.456127  1.438397

## Column names

In [8]:
df.columns = ["Incongruent Response", "Congruent Response", "Incongruent RT", "Congruent RT"]

In [9]:
df.head(2)

  Incongruent Response Congruent Response  Incongruent RT  Congruent RT
0            incorrect          incorrect        1.866287      2.743461
1              correct          incorrect        4.937513      4.393710

df.columns holds the column names, so you can print them if you want to see them

In [10]:
for col in df.columns: 
    print(col)

Incongruent Response
Congruent Response
Incongruent RT
Congruent RT

## Indexing data

### `iloc`

Here we use `iloc` to index our data by it's location, just like you would do in excel... In excel, you would find, for example, cell `A5`.  In Pandas, we do `df.ix[4,0]`.  Don't forget we start counting from 0 in Python, so the 5th row is 4, and the 1st column is 0.

In [11]:
df.iloc[4,0]

'incorrect'

### `loc`

Here we use `loc` to index our data by it's nameDon't forget we start counting from 0 in Python, so the 8th row is 7, and the 1st column is 'Incongruent Response.

In [12]:
df.loc[7,'Incongruent Response']

'incorrect'

## `index`

In both cases above, we used the `index` or, what we thought was the row number to find our cells.  Pandas created our index for us, and we just pretended it was the row number.  We could have used another column.
If you don't have an index but want one, or if you want to chage the index, you can use the method `.set_index()`

## Selecting Data

You can select data by calling the dataframe, and instead of putting the name of one column, you put in a list of column names that you want.  I'm applying the `head()` method here just to keep the output short.  It's not a part of the selection command.

In [16]:
df[['Incongruent RT', 'Congruent RT']].head()

   Incongruent RT  Congruent RT
0        1.866287      2.743461
1        4.937513      4.393710
2        2.726114      2.478732
3        5.822324      3.249900
4        3.456127      1.438397

### Selecting data by condition
You can use expressions to select data that match a number or satisfy an equation.

In [15]:
df[df["Incongruent Response"] == "correct"].head()

   Incongruent Response Congruent Response  Incongruent RT  Congruent RT
1               correct          incorrect        4.937513      4.393710
2               correct          incorrect        2.726114      2.478732
6               correct          incorrect        3.586901      2.848708
11              correct          incorrect        1.157967      2.568124
12              correct          incorrect        4.082233      3.304023

## Subsetting data

### Subsetting by row

In [106]:
df2 = df[0:3]
df2

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Log of Incongruent RT,Log of congruent RT
0,correct,incorrect,5.316297,5.075958,1.670777,1.624515
1,incorrect,incorrect,4.693978,3.285078,1.546280,1.189390
2,correct,incorrect,4.346245,1.668717,1.469312,0.512055

### Subsetting by index location

In [113]:
df4 = df.iloc[2:4, 1:4]
df4

  Congruent Response  Incongruent RT  Congruent RT
2          incorrect        4.346245      1.668717
3          incorrect        4.651065      2.799293

## Calculate the mean reaction times using the `mean()` method.

In [71]:
print(df['Incongruent RT'].mean())
print(df['Congruent RT'].mean())

4.100048375606001
2.938231142082509

## Calculate the median reaction times using the `median()` method.

In [75]:
print(df['Incongruent RT'].median())
print(df['Congruent RT'].median())

4.345814621574393
2.7615103570782686

## Calculate the mode of responses times using the `mode()` method.
Here we're calculating the mode of responses instead of reaction times because `mode()` calculates the most often occuring value.  Our reaction times are all unique values, so the mode function just returns the original data.  If we want to see the mode method in action, we can use it on the responses, and see what the most often occuring responses are in each category.

In [82]:
print(df['Incongruent Response'].mode())
print(df['Congruent Response'].mode())

0    correct
dtype: object
0    incorrect
dtype: object

## Calculate the standard deviation of the reaction times using the `stdev()` method.

In [83]:
print(df['Incongruent RT'].std())
print(df['Congruent RT'].std())

1.1556001832350131
1.1693635050024664

<h2>Functions &amp; Description</h2>
<p>Let us now understand the functions under Descriptive Statistics in Python Pandas. The following table list down the important functions &minus;</p>
<table class="table table-bordered">
<tr>
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Function</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="text-align:center;">1</td>
<td style="text-align:center;">count()</td>
<td>Number of non-null observations</td>
</tr>
<tr>
<td style="text-align:center;">2</td>
<td style="text-align:center;">sum()</td>
<td>Sum of values</td>
</tr>
<tr>
<td style="text-align:center;">3</td>
<td style="text-align:center;">mean()</td>
<td>Mean of Values</td>
</tr>
<tr>
<td style="text-align:center;">4</td>
<td style="text-align:center;">median()</td>
<td>Median of Values</td>
</tr>
<tr>
<td style="text-align:center;">5</td>
<td style="text-align:center;">mode()</td>
<td>Mode of values</td>
</tr>
<tr>
<td style="text-align:center;">6</td>
<td style="text-align:center;">std()</td>
<td>Standard Deviation of the Values</td>
</tr>
<tr>
<td style="text-align:center;">7</td>
<td style="text-align:center;">min()</td>
<td>Minimum Value</td>
</tr>
<tr>
<td style="text-align:center;">8</td>
<td style="text-align:center;">max()</td>
<td>Maximum Value</td>
</tr>
<tr>
<td style="text-align:center;">9</td>
<td style="text-align:center;">abs()</td>
<td>Absolute Value</td>
</tr>
<tr>
<td style="text-align:center;">10</td>
<td style="text-align:center;">prod()</td>
<td>Product of Values</td>
</tr>
<tr>
<td style="text-align:center;">11</td>
<td style="text-align:center;">cumsum()</td>
<td>Cumulative Sum</td>
</tr>
<tr>
<td style="text-align:center;">12</td>
<td style="text-align:center;">cumprod()</td>
<td>Cumulative Product</td>
</tr>
</table>

https://www.tutorialspoint.com/python_pandas/python_pandas_descriptive_statistics.htm

## Describe the data gives a summary of the numerical data in a given dataset

In [85]:
df.describe()

       Incongruent RT  Congruent RT
count       50.000000     50.000000
mean         4.100048      2.938231
std          1.155600      1.169364
min          0.641427      0.913163
25%          3.566793      2.112497
50%          4.345815      2.761510
75%          4.869505      3.578249
max          5.880729      5.428637

### We can use `=object` to see info about cells that contain objects, not numbers.  This includes text, like our response variables

In [89]:
df.describe(include=['object'])

       Incongruent Response Congruent Response
count                    50                 50
unique                    2                  2
top                 correct          incorrect
freq                     38                 37

### We can use `=all` to see all of that info at once.  `NaN` stands for  `not a number`, which is Pandas' N/A value

In [90]:
df. describe(include='all')

       Incongruent Response Congruent Response  Incongruent RT  Congruent RT
count                    50                 50       50.000000     50.000000
unique                    2                  2             NaN           NaN
top                 correct          incorrect             NaN           NaN
freq                     38                 37             NaN           NaN
mean                    NaN                NaN        4.100048      2.938231
std                     NaN                NaN        1.155600      1.169364
min                     NaN                NaN        0.641427      0.913163
25%                     NaN                NaN        3.566793      2.112497
50%                     NaN                NaN        4.345815      2.761510
75%                     NaN                NaN        4.869505      3.578249
max                     NaN                NaN        5.880729      5.428637

### Transforming data

Let's say we need to apply a function to our data.  Lots of times this is important to understand things on different scales.  Let's explore a natural log scale.

In [99]:
import numpy as np
df['Log of Incongruent RT'] = df['Incongruent RT'].transform(np.log)
df.head(3)

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Log of Incongruent RT,Log of congruent RT
0,correct,incorrect,5.316297,5.075958,1.670777,1.624515
1,incorrect,incorrect,4.693978,3.285078,1.546280,1.189390
2,correct,incorrect,4.346245,1.668717,1.469312,0.512055

### Another way to do that

In [100]:
df['Log of congruent RT'] = np.log(df['Congruent RT'])
df.head(3)

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Log of Incongruent RT,Log of congruent RT
0,correct,incorrect,5.316297,5.075958,1.670777,1.624515
1,incorrect,incorrect,4.693978,3.285078,1.546280,1.189390
2,correct,incorrect,4.346245,1.668717,1.469312,0.512055

## Calculating across axes using `apply`
Sometimes you want to calculate across rows, sometimes down columns.  `apply` is the command to do that.

<div class="alert alert-info">
<list>
    <li>Axis 0 is rows</li>
    <li>Axis 1 is columns</li>
</list>

Let's calculate the mean reaction time for each trial.
- First we subset the data

In [19]:
rtData = df.iloc[:-1, 2:4]
rtData.head(2)

   Incongruent RT  Congruent RT
0        1.866287      2.743461
1        4.937513      4.393710

In [22]:
df['Mean Reaction Time'] = rtData.apply(np.mean, axis=1)
df.head()

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Mean Reaction Time
0,incorrect,incorrect,1.866287,2.743461,2.304874
1,correct,incorrect,4.937513,4.393710,4.665612
2,correct,incorrect,2.726114,2.478732,2.602423
3,incorrect,correct,5.822324,3.249900,4.536112
4,incorrect,incorrect,3.456127,1.438397,2.447262

## Calculate proportion correct by applying a conditional count method.

### This is like `countif` in excel

In [37]:
proportion_correct_incongruent = (df[df["Incongruent Response"] == "correct"].count(axis=0) / 50)[0]
proportion_correct_congruent = (df[df["Congruent Response"] == "correct"].count(axis=0) / 50)[0]
print(proportion_correct_incongruent, proportion_correct_congruent)

0.64 0.2

That was s a complicated statment.  Let's break it down.
- `df[df["Incongruent Response"] == "correct"]` is the exact same conditional search we used in the previous example
- we apply the `count()` method on `axis=0`, which means across rows.
- So we're counting the number of cells in each column that corresponds to correct incongruent responses
- `50` is the number of trials.  
    - When we divide the count by the number of items how we get a proportion.
- Recall that the conditional search returns a Pandas series
    - encapsulate the statement in `()`
    - ask for the first element in the series `[0]`