# Analyzing Data in Pandas

# Simulate the data set again

In [46]:
import random
import numpy as np
import pandas as pd

# Simulate Responses
congruent_responses = np.random.choice(["incorrect", "correct"], size=(50,), p=[3./4, 1./4])
incongruent_responses = np.random.choice(["incorrect", "correct"], size=(50,), p=[1./4, 3./4])

# Simulate Reaction Times
a = 0.5 # lowest possible reaction time
b = 6 # highest possible reaction time
reaction_time_incongruent = []
reaction_time_congruent = []
for i in range(50):
    x = 4 # mode of reaction time
    reaction_time_incongruent.append(random.triangular(a, b, 3*x - a - b))
    x = 3 # mode of reaction time
    reaction_time_congruent.append(random.triangular(a, b, 3*x - a - b))

# Compile Data
data_tuples = list(zip(congruent_responses, incongruent_responses, reaction_time_incongruent, reaction_time_congruent))
df = pd.DataFrame(data_tuples, columns=["Incongruent Response", "Congruent Response", "Incongruent RT", "Congruent RT"]) # columns can be defined here too
df.head()

  Incongruent Response Congruent Response  Incongruent RT  Congruent RT
0            incorrect            correct        1.726096      3.476464
1              correct            correct        4.525714      3.351575
2            incorrect            correct        4.785875      3.246621
3            incorrect            correct        0.848982      1.837842
4            incorrect          incorrect        2.813957      3.500010

## Let's add a couple more fake variables here to help us learn data analysis in Python

In [47]:
preference_for_apples = []
preference_for_crabs = []
a=1
b=100
for i in range(50):
    x = 75
    preference_for_apples.append(random.triangular(a, b, 3*x - a - b))
    x = 35
    preference_for_crabs.append(random.triangular(a, b, 3*x - a - b))

data_tuples = list(zip(preference_for_apples, preference_for_crabs))
df2 = pd.DataFrame(data_tuples, columns=["Apple Preference", "Crab Preference"]) # columns can be defined here too
df2.head()

   Apple Preference  Crab Preference
0         66.780459        58.037420
1         89.404197        44.536637
2         27.310045        74.215084
3         80.783975        10.686447
4         62.128942        90.689879

### Concatenate the dataframes

In [48]:
df = pd.concat([df,df2], axis=1, sort=False)
df.head()

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Apple Preference,Crab Preference
0,incorrect,correct,1.726096,3.476464,66.780459,58.037420
1,correct,correct,4.525714,3.351575,89.404197,44.536637
2,incorrect,correct,4.785875,3.246621,27.310045,74.215084
3,incorrect,correct,0.848982,1.837842,80.783975,10.686447
4,incorrect,incorrect,2.813957,3.500010,62.128942,90.689879

## Calculate the mean reaction times using the `mean()` method.

In [49]:
print(df['Incongruent RT'].mean())
print(df['Congruent RT'].mean())

4.0164239017996275
2.7016227272049838

## Calculate the median reaction times using the `median()` method.

In [50]:
print(df['Incongruent RT'].median())
print(df['Congruent RT'].median())

4.221485120466107
2.511096795208754

## Calculate the mode of responses times using the `mode()` method.
Here we're calculating the mode of responses instead of reaction times because `mode()` calculates the most often occuring value.  Our reaction times are all unique values, so the mode function just returns the original data.  If we want to see the mode method in action, we can use it on the responses, and see what the most often occuring responses are in each category.

In [51]:
print(df['Incongruent Response'].mode())
print(df['Congruent Response'].mode())

0    incorrect
dtype: object
0    correct
dtype: object

## Calculate the standard deviation of the reaction times using the `stdev()` method.

In [52]:
print(df['Incongruent RT'].std())
print(df['Congruent RT'].std())

1.2690022180375866
1.1180252698657094

<h2>Functions &amp; Description</h2>
<p>Let us now understand the functions under Descriptive Statistics in Python Pandas. The following table list down the important functions &minus;</p>
<table class="table table-bordered">
<tr>
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Function</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="text-align:center;">1</td>
<td style="text-align:center;">count()</td>
<td>Number of non-null observations</td>
</tr>
<tr>
<td style="text-align:center;">2</td>
<td style="text-align:center;">sum()</td>
<td>Sum of values</td>
</tr>
<tr>
<td style="text-align:center;">3</td>
<td style="text-align:center;">mean()</td>
<td>Mean of Values</td>
</tr>
<tr>
<td style="text-align:center;">4</td>
<td style="text-align:center;">median()</td>
<td>Median of Values</td>
</tr>
<tr>
<td style="text-align:center;">5</td>
<td style="text-align:center;">mode()</td>
<td>Mode of values</td>
</tr>
<tr>
<td style="text-align:center;">6</td>
<td style="text-align:center;">std()</td>
<td>Standard Deviation of the Values</td>
</tr>
<tr>
<td style="text-align:center;">7</td>
<td style="text-align:center;">min()</td>
<td>Minimum Value</td>
</tr>
<tr>
<td style="text-align:center;">8</td>
<td style="text-align:center;">max()</td>
<td>Maximum Value</td>
</tr>
<tr>
<td style="text-align:center;">9</td>
<td style="text-align:center;">abs()</td>
<td>Absolute Value</td>
</tr>
<tr>
<td style="text-align:center;">10</td>
<td style="text-align:center;">prod()</td>
<td>Product of Values</td>
</tr>
<tr>
<td style="text-align:center;">11</td>
<td style="text-align:center;">cumsum()</td>
<td>Cumulative Sum</td>
</tr>
<tr>
<td style="text-align:center;">12</td>
<td style="text-align:center;">cumprod()</td>
<td>Cumulative Product</td>
</tr>
</table>

https://www.tutorialspoint.com/python_pandas/python_pandas_descriptive_statistics.htm

## Describe the data gives a summary of the numerical data in a given dataset

In [53]:
df.describe()

       Incongruent RT  Congruent RT  Apple Preference  Crab Preference
count       50.000000     50.000000         50.000000        50.000000
mean         4.016424      2.701623         72.913646        39.964916
std          1.269002      1.118025         28.473194        21.824043
min          0.848982      0.719882         14.838948         2.027720
25%          3.017660      1.854724         50.924095        20.577158
50%          4.221485      2.511097         80.929361        41.446954
75%          5.126095      3.374372         97.727478        56.436536
max          5.618493      5.322959        108.633728        90.689879

### We can use `=object` to see info about cells that contain objects, not numbers.  This includes text, like our response variables

In [54]:
df.describe(include=['object'])

       Incongruent Response Congruent Response
count                    50                 50
unique                    2                  2
top               incorrect            correct
freq                     39                 35

### We can use `=all` to see all of that info at once.  `NaN` stands for  `not a number`, which is Pandas' N/A value

In [55]:
df. describe(include='all')

,Incongruent Response,Congruent Response,Incongruent RT,Congruent RT,Apple Preference,Crab Preference
count,50,50,50.000000,50.000000,50.000000,50.000000
unique,2,2,NaN,NaN,NaN,NaN
top,incorrect,correct,NaN,NaN,NaN,NaN
freq,39,35,NaN,NaN,NaN,NaN
mean,NaN,NaN,4.016424,2.701623,72.913646,39.964916
std,NaN,NaN,1.269002,1.118025,28.473194,21.824043
min,NaN,NaN,0.848982,0.719882,14.838948,2.027720
25%,NaN,NaN,3.017660,1.854724,50.924095,20.577158
50%,NaN,NaN,4.221485,2.511097,80.929361,41.446954
75%,NaN,NaN,5.126095,3.374372,97.727478,56.436536
max,NaN,NaN,5.618493,5.322959,108.633728,90.689879

# Test for normal distribution
Let's see if our data are normally distributed.

To do that, we'll use the `scipy` module. `scipy` stands for scientific python.  In the `stats` folder, there's a module called pearsonr, which calculates correlations and corresponding p-values. `scipy` is compatable with `Pandas`.  If the p-value is less than 0.05, then the distribution is not normal.

In [56]:
import scipy.stats

print(scipy.stats.normaltest(df['Incongruent RT']))
print(scipy.stats.normaltest(df['Congruent RT']))

NormaltestResult(statistic=4.702146980479828, pvalue=0.09526683928188402)
NormaltestResult(statistic=2.4463200932066163, pvalue=0.29429869835500444)

## Correlation
To test for a correlation in Pandas, you can use the `corr()` method to test for all correlations in a dataset.  This is called a correlation matrix.  It's not particularly useful for our analysis here, but it's something you should learn.

In [57]:
df.corr()

,Incongruent RT,Congruent RT,Apple Preference,Crab Preference
Incongruent RT,1.000000,-0.190705,-0.042440,-0.059282
Congruent RT,-0.190705,1.000000,-0.111889,-0.043988
Apple Preference,-0.042440,-0.111889,1.000000,-0.164182
Crab Preference,-0.059282,-0.043988,-0.164182,1.000000

If you just want to correlate 2 variables, you can call the `corr()` method on one column, and put the other column inside the `corr` method.

In [58]:
df['Incongruent RT'].corr(df['Congruent RT'])

-0.19070538287041544

### p-values for correlations
p-value politics aside, you should learn how to calculate them.  We can't do that in Pandas, but we can do it in `scipy.stats.pearsonr`. `scipy.stats.pearsonr` returns a tuple.  The first value is the r-value or correlation coefficient.  The second value is the p-value.

In [59]:
import scipy.stats

scipy.stats.pearsonr(df['Incongruent RT'], df['Congruent RT'])

(-0.19070538287041536, 0.18464236503313705)

Those two variables are not related, and we would not be surprised to find that given our null hypothesis (i.e. that the two variables are not related)

# Are responses in the incongruent condition longer than the responses in the congruent condition?

To do that, we'll use a paired sample t-test `scipy.stats.ttest_rel`.

In [60]:
scipy.stats.ttest_rel(df['Incongruent RT'], df['Congruent RT'])

Ttest_relResult(statistic=5.040932512683556, pvalue=6.721751987540235e-06)

The t-value of 5.6 tells us that the mean of incongruent is much higher than the mean of congruent, and the p-value of 8.153 e-07 means we would be very very suprised if we reached this result given the null hypothesis that there is no differnece in the means.

## In each condition, is the frequency of "correct" responses different than we would expect than if people were just guessing?

x is the number of correct responses - we already calculated this last time.
n is the sample size (50)
p is the probability of being correct if there was no effect of the letter colour (1)

### Congruent

In [67]:
proportion_correct_congruent = (df[df["Congruent Response"] == "correct"].count(axis=0) / 50)[0]
print('Proportion correct congruent', proportion_correct_congruent)
scipy.stats.binom_test(proportion_correct_congruent, n=50, p=0.99)

Proportion correct congruent 0.7

1.0000000000000444e-100

### Incongruent

In [66]:
proportion_correct_incongruent = (df[df["Incongruent Response"] == "correct"].count(axis=0) / 50)[0]
print('Proportion correct incongruent', proportion_correct_incongruent)
scipy.stats.binom_test(proportion_correct_incongruent, n=50, p=0.99)

Proportion correct incongruent 0.22

1.0000000000000444e-100

In both cases, there is almost a zero probability that the observed responses are the same as we would expect if there was no effect of the colour on the word people read. Had we used p=1, there would be a zero probability.